<section>
	<section *ngIf="_home">
		<h2>介紹教育部創新教學試辦計畫</h2>
		<p>埤塘是桃園最重要的文化地景之一，多數研究以自然科學家為主，從農田水利、都市計畫、自然與人文地理，生態保育等觀點進行探究，較少關懷人文脈絡的探索。本創新教學試辦計畫的名稱為「頑皮塘101數位文創智造夢工廠」，規劃透過至少101小時以創新教學為主，傳統教學為輔的方式，運用學生最熟悉的數位科技，以「千塘之鄉」的桃園地方文化資產為創作素材，採取問題導向、創意啟發與創客創新的創新教學方法，推動以學生為主體的創新教學，學生從討論中學習居民智慧、生活文化，以及感受土地、埤塘水岸景觀的真實，以培養學生積極主動的思維與態度，從而豐富其創意，提升其創新與自主實踐能力。</p>
		
		<hr class="major" />
		
		<h2>本院計畫內容與宗旨</h2>
		<p>本創新教學試辦課程設計過程，採取PDCAB循環的實踐，包括規劃(plan)、實踐(do)、檢視(check)、回饋與改善(action)與標竿學習(benchmarking)等步驟，透過，逐步落實。</p>
		<p>一、	起夢：起夢共識營3小時，參與創新教學之教師、輔導員與行政助理聚會討論，凝聚教學共識，討論未來進行方式或其他相關問題。</p>
		<p>二、	尋夢：尋夢沙龍6小時，圓夢學生全體參與，主要任務是：</p>
		<p>(一)由夢工廠主任說明夢工廠的意義、教學方式與同學參與方式，並且說明圓夢學生的任務：</p>
		<p>一、必須完成各項活動課程之實作；</p>
		<p>二、必須完成業師的提案項目；</p>
		<p>三、課程結束後參與成果發表之團體競賽。</p>
		<p>(二)參與學生分成5組，每組配置一名輔導員（由人社院文產博士生或碩士生擔任），主要任務為：為小組命名、選出小組長、擬參與成果發表之創作主題、擬運用的數位科技工具，例如桃園埤塘的生態動畫片，或拍攝埤塘社區的微電影等，無論作品形式為何，最終作品均需以數位內容形式呈現。</p>
		<p>(三)每位同學組成LINE群組，便於聯繫與討論。</p>
		<p>三、	解夢：主要是以傳統教學方法，傳授有關桃園埤塘的基本知識，稱為「基礎課程」共21小時，由人社院參與教師與社區實務工作者擔任師資，以觀念傳遞、互動討論與知識分享為主。課程科目初步包括：「桃園埤塘知多少？」、「埤塘─聚落發展的生命之水」、「形形色色的埤塘生物」、「埤塘發『聲』的事」、「桃園文化地圖行旅」、「社會企業家產業學堂」、「數位工具百寶箱」、「電子商務大觀園」、「社區尋寶與智造」等，提供各組「圓夢」行動的知識基礎。</p>
		<p>四、	踏夢：實地巡禮埤塘8小時，由教師與輔導員帶領，分組進行桃園埤塘巡禮，包括：中壢士校大池、八德埤塘生態公園、楊梅秀才山5B埤塘公園、龍潭觀光大池新屋、新屋後湖塘等。由各組自行認養要「夢遊」的埤塘與社區，同時選擇從玩文學、玩美學、玩文創、玩影音或玩生態的角度進行「築夢」作品的創作計畫，並於課程結束前完成逐夢作品。</p>
		<p>五、	築夢：創新教學課程34小時，由人社院參與教師與業師共同擔任築夢師資，以相互合作精神共同操作，採取問題導向教學法，由業師提出問題，學生提出解決構想。課程主題係以埤塘為主題，包括下列課程：</p>
		<p>(一)「玩影音」實作課程：由各組決定要採用的影音數位科技後，自行邀請專業師資授課，例如學習手機攝影、設計LOGO等，計10小時，授課鐘點費由本教學計畫支付。</p>
		<p>(二)「玩創意」內容發想：由人社院教師與業師共同上課，引導各組學生針對選定文創產品的創意內容提出發想，計6小時。</p>
		<p>(三)「玩文學」廣告文案：由人社院教師與廣告實務工作者共同引導各組學生針對選定文創產品（例如推銷休閒旅遊景點、旅館、民宿等）的廣告文案進行撰寫練習，計6小時。</p>
		<p>(四)「玩美學」藝術創客：由人社院教師與業師共同上課，引導各組針對選定文創產品的商業藝術展現提出構想，計6小時。</p>
		<p>(五)「玩生態」社區參與：由人社院教師與業師共同上課，引導各組針對選定文創產品的連結社區進行意見蒐集與共識發展，計6小時。</p>
		<p>六、	追夢：參訪數位文創公司6小時，例如奧亞數位文創、三貝德數位文創等，透過標竿學習。</p>
		<p>七、	造夢：造夢行動20小時，針對提案進行數位文創的設計，以及針對成果展覽辦理競賽活動，並邀請相關企業、團體、社區人員參與評比。</p>
		<p>八、	圓夢：教學成果檢視3小時，計畫執行期中與期末時，與參與教師、業師、學生座談，執行問卷調查，瞭解參與老師、學生、專家、助理、講師對於試辦計畫之評價，檢視此一創新教學法的相關執行問題與改進方式。</p>
		<p>九、	夢實踐：將最終結果建置桃園埤塘生態與文化創意價值資料庫，所有造夢過程的酸甜苦辣與實際成果，均建置於此一資料庫，供後續創新教學實施的經驗傳承。</p>
		<!--<span class="image main text-center"><img src="" /></span>-->
		<p class="text-center"><b>圖 2「圓夢步驟」</b></p>
		
		<hr class="major" />

		<h2>本院USR計畫</h2>
		<p>依據本研究團隊長期耕耘桃園的經驗發現，桃園的焦點議題與社會需求包括下列幾類：</p>
		<p>一、桃園的高齡者長照問題具有挑戰性，但由於是六個直轄市中最年輕的城市，許多青壯人力資源可以號召投入高齡者長照關懷服務工作，促進社區健康，藉此強化社區能力</p>
		
		<p>在我國六個直轄市中，桃園市由於有許多重大公共計畫的推動，吸引不少青壯人口投入，故平均年齡下降，65歲以上人口佔10.39%，為六個直轄市中高齡人口比例最低的直轄市。但高齡問題仍是桃園市必須投入相當人力與經費的重要議題。從桃園市最年青城市的角度而言，照顧高齡者的青壯人口較為豐沛，可透過社區營造或其他手段，激發他們參與社區長期照顧的行列，因應桃園的高齡者照顧與關懷問題，促進社區健康（附錄二）。</p>
		<p>二、桃園是多元族群在地研究重鎮，可以累積社區族群文化資本與社區意識</p>
		<p>在台灣族群關係研究領域中，桃園為從事在地族群社會頗具意義的研究重鎮；在族群關係歷史進程中，桃園曾有「閩客輪流執政」的政治傳統，族群政治的動員曾在地方政治社會中普遍發酵。桃園發展出特殊的「閩客分治」的族群聚落：（一）北桃園：以福佬為主，包含蘆竹區、桃園區、龜山區、八德區、大溪區、大園區，以桃園區為核心，聚居人口約107萬人，範圍相當於日治時期的桃園郡加上大溪郡大溪街。（二）南桃園：以客家人為主，包括觀音區、中壢區、新屋區、楊梅區、平鎮區、龍潭區，以中壢福佬為核心，聚居人口約97萬人，範圍相當於日治時期的中壢郡加上大溪郡龍潭庄 。（三）原住民：為原住民聚落，主要為復興區，約10,600人。（四）外省族群：桃園的眷村數量約71-80戶，在全國各縣市中名列前茅；隨著眷村的改建、遷建與重建，舊時低矮房舍與竹籬笆形成的空間與氛圍已不復再見，守望相助的精神逐漸解體，相反地，勉強保留下來的或翻修改建的眷村多半缺乏完善的管理與維護，亦無長期的志工人力或文創業者進駐，以致於眷村的問題逐漸突顯、其記憶價值已漸趨沒落，有必要透過在地行動予以挖掘與活化。基上，桃園豐富多元的族群文化，一方面可以透過保留文化資產與族群記憶，累積社區族群文化資本；另一方面可形塑多元族群之間的連結與共享價值，利於社區意識的凝聚。</p>
		<p>三、桃園市也被譽為「新住民」的故鄉，配合南向政策，未來許多人力資源可以充分運用</p>
		<p>若將新住民定義為「外裔、外籍配偶人數與大陸（含港澳）配偶人數」，依內政統計（2017） ，桃園市外裔、外籍配偶人數與大陸（含港澳）配偶人數為57,489人，約佔總人數的11%，僅次於新北市（101,720人）、高雄市（60,459人）、台北市（59,086人），居全國的第四位，可見桃園作為多元族群的代表，新住民是另一個值得關注的新焦點。新移民衍生的教育問題、語文學習問題等值得重視。若能妥善運用，對於南向政策之推展不無助益。</p>
		<p>四、桃園有「千塘之鄉」的雅號，可進行調查研究的文化資源非常豐富</p>
		<p>根據日本學者竹內常行（1971）的研究，桃園曾是世界陂塘密度最高的區域，號稱「千塘之鄉」，陂塘水圳成為先民留下來的在地文化軌跡，實有必要予以挖掘。桃園市政府多年來深知地景文化為本市重要文化資產，每年均舉辦地景藝術節，邀請藝術家以藝術創作展現桃園境內特殊地景，俾形塑桃園獨特的城市風貌，如2016年桃園地景藝術節以「擾動在地、深耕發酵」為主軸，移師至新屋、八德二區舉辦，並以石滬、陂塘、海岸、自然生態等在地特色之景觀做為地景藝術節策劃發展核心，引起觀賞民眾熱烈迴響。</p>
		<p>五、結語：透過「長照關懷」與「文化體驗」強化社區能力與社區意識，作為本計畫主要的焦點議題</p>
		<p>經上述盤點桃園的重大焦點議題後，可以發現透過「長照關懷服務」（如社會參與、樂齡學習、陪伴閱讀、關懷行動等）與「在地文化體驗」（在地文化資源體驗、創意設計、活動舉辦、社區參與等），前者促進社區健康，後者促進社區文化，共同提昇社區能力與凝聚社區意識，作為本計畫實踐大學社會責任的兩大主軸。</p>
		<p>桃園市為我國的第六個直轄市，資源相對豐沛；近年來，在中央政府鼎力支持下，分別推出足以影響桃園發展的重大公共計畫—國際航空城計畫與亞洲矽谷計畫，可以預見桃園未來必然面臨社會經濟與產業佈局上的轉型與變化。本校一直思考在此轉型過程中可能扮演的重要角色，故校長與桃園市長的合作交流相當密切。若本計畫付諸實施後，將密切與地方政府各局處合作，爭取其經費補助與行政協助，如青年事務局、文化局、社會局、都市發展局等。</p>

		<hr class="major" />
		
		<h2>作法</h2>
		<p>「頑皮塘101數位文創智造夢工廠」創新教學試辦計畫運用觀念新穎、共同參與、學生主體、多元適性、科技善用、永續創新等原則加以設計。透過至少101小時以創新教學為主，傳統教學為輔的方式，結合學生最熟悉的數位科技工具，透過「玩文學」、「玩美學」、「玩影音」、「玩文創」、「玩生態」等「五玩」理念，落實埤塘人文、生態為桃園重要環境教育場所與空間，並結合周遭社區，將埤塘水圳與社區有效連結，讓人與水之間更加密切；進行桃園埤塘印象，讓埤塘地景成為重要的視覺。</p>
		<!--<span class="image main text-center"><img src="" /></span>-->
		<p class="text-center"><b>圖 1「夢工廠圓夢示意圖」</b></p>
	</section>
	
	<!-- 夢想起飛 -->
	<section *ngIf="_takeOff">
		<h2>意涵</h2>
		<p>本創新教學試辦課程設計過程，採取PDCAB循環的實踐，包括規劃(plan)、實踐(do)、檢視(check)、回饋與改善(action)與標竿學習(benchmarking)等步驟，透過，逐步落實。</p>
		<p>起夢：起夢共識營3小時，參與創新教學之教師、輔導員與行政助理聚會討論，凝聚教學共識，討論未來進行方式或其他相關問題。</p>
		<p>尋夢：尋夢沙龍6小時，圓夢學生全體參與，主要任務是：</p>
		<p>(一)由夢工廠主任說明夢工廠的意義、教學方式與同學參與方式，並且說明圓夢學生的任務：一、必須完成各項活動課程之實作；二、必須完成業師的提案項目；三、課程結束後參與成果發表之團體競賽。</p>
		<p>(二)參與學生分成5組，每組配置一名輔導員（由人社院文產博士生或碩士生擔任），主要任務為：為小組命名、選出小組長、擬參與成果發表之創作主題、擬運用的數位科技工具，例如桃園埤塘的生態動畫片，或拍攝埤塘社區的微電影等，無論作品形式為何，最終作品均需以數位內容形式呈現。</p>
		<p>(三)每位同學組成LINE群組，便於聯繫與討論。</p>
		
		<hr class="major" />

		<h2>課程內容</h2>
		<p>Text here</p>
		
		<hr class="major" />

		<h2>活動照片</h2>
		<p>Text here</p>
	</section>
	
	<!-- 解夢分享 -->
	<section *ngIf="_interpretation">
		<h2>意涵</h2>
		<p><b>解夢：</b>主要是以傳統教學方法，傳授有關桃園埤塘的基本知識，稱為「基礎課程」共21小時，由人社院參與教師與社區實務工作者擔任師資，以觀念傳遞、互動討論與知識分享為主。課程科目初步包括：「桃園埤塘知多少？」、「埤塘─聚落發展的生命之水」、「形形色色的埤塘生物」、「埤塘發『聲』的事」、「桃園文化地圖行旅」、「社會企業家產業學堂」、「數位工具百寶箱」、「電子商務大觀園」、「社區尋寶與智造」等，提供各組「圓夢」行動的知識基礎。</p>
		
		<hr class="major" />

		<h2>課程內容</h2>
		<p>Text here</p>
		
		<hr class="major" />

		<h2>活動照片</h2>
		<p>Text here</p>
	</section>
	
	<!-- 踏夢之旅 -->
	<section *ngIf="_journey">
		<h2>意涵</h2>
		<p><b>踏夢：</b>實地巡禮埤塘8小時，由教師與輔導員帶領，分組進行桃園埤塘巡禮，包括：中壢士校大池、八德埤塘生態公園、楊梅秀才山5B埤塘公園、龍潭觀光大池新屋、新屋後湖塘等。由各組自行認養要「夢遊」的埤塘與社區，同時選擇從玩文學、玩美學、玩文創、玩影音或玩生態的角度進行「築夢」作品的創作計畫，並於課程結束前完成逐夢作品。</p>
		
		<hr class="major" />

		<h2>課程內容</h2>
		<p>Text here</p>
		
		<hr class="major" />

		<h2>活動照片</h2>
		<p>Text here</p>
	</section>
	
	<!-- 築夢逐夢 -->
	<section *ngIf="_buildAndPursue">
		<h2>意涵</h2>
		<p><b>築夢：</b>創新教學課程34小時，由人社院參與教師與業師共同擔任築夢師資，以相互合作精神共同操作，採取問題導向教學法，由業師提出問題，學生提出解決構想。課程主題係以埤塘為主題，包括下列課程：</p>
		<p>(一)「玩影音」實作課程：由各組決定要採用的影音數位科技後，自行邀請專業師資授課，例如學習手機攝影、設計LOGO等，計10小時，授課鐘點費由本教學計畫支付。</p>
		<p>(二)「玩創意」內容發想：由人社院教師與業師共同上課，引導各組學生針對選定文創產品的創意內容提出發想，計6小時。</p>
		<p>(三)「玩文學」廣告文案：由人社院教師與廣告實務工作者共同引導各組學生針對選定文創產品（例如推銷休閒旅遊景點、旅館、民宿等）的廣告文案進行撰寫練習，計6小時。</p>
		<p>(四)「玩美學」藝術創客：由人社院教師與業師共同上課，引導各組針對選定文創產品的商業藝術展現提出構想，計6小時。</p>
		<p>(五)「玩生態」社區參與：由人社院教師與業師共同上課，引導各組針對選定文創產品的連結社區進行意見蒐集與共識發展，計6小時。</p>
		<p>追夢：參訪數位文創公司6小時，例如奧亞數位文創、三貝德數位文創等，透過標竿學習。</p>
		
		<hr class="major" />

		<h2>課程內容</h2>
		<p>Text here</p>
		
		<hr class="major" />

		<h2>活動照片</h2>
		<p>Text here</p>
</section>